<div class="container">
  <h1 class="border-bottom"><%= exhibit.name %></h1>
  <div class="flex-container">
    <img class="exhibit-img" src="<%= exhibit.image %>" alt="" />
    <p><%= exhibit.description %></p>
  </div>
  <audio controls controlsList="nodownload">
    <source src="<%= exhibit.audio %>" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</div>
