<div class="container">
  <section id="intro" class="dark-container">
    <h1 class="landing-title"><%= contentList.name %></h1>
    <h2 class="landing-title">This is a subtitle for the landing page.</h2>
    <div class="flex-container">
      <img class="landing-img" src="<%= contentList.image %>" alt="" />
      <p class="mt-4 landing-description"><%= contentList.description %></p>
    </div>
    <div class="exhibit-audio landing-audio sticky-bottom">
      <%- include("player.ejs", contentList.description) %>
    </div>
  </section>
  <section id="guide">
    <h2 class="pb-2 pt-4 border-bottom viewing-title">
      Viewing and Listening Methods:
    </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> qr_code_2 </span>
        </div>
        <h3 class="fs-2">QR Codes</h3>
        <p>
          Scan the QR codes you find as you make your way around the exhibition
          to see or hear more about the exhibits.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> headphones </span>
        </div>
        <h3 class="fs-2">Audio</h3>
        <p>
          You can hear the information about the exhibition via the embeded
          audio players found on each page.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> menu </span>
        </div>
        <h3 class="fs-2">Exhibit Links</h3>
        <p>
          Individual exhibit pages can also be found using the links at the top
          of any page on the site.
        </p>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <span class="material-symbols-outlined"> arrow_downward </span>
        </div>
        <h3 class="fs-2">Walk-Through</h3>
        <p>
          You can experience the whole exhibition by scrolling through this
          page.
        </p>
      </div>
    </div>
  </section>
</div>
