<nav class="navbar navbar-dark fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><span class="material-symbols-outlined"> not_accessible </span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/#guide">Guide</a>
        <a class="nav-link" href="/exhibitone">What A Load</a>
        <a class="nav-link" href="/exhibittwo">The Mask</a>
        <a class="nav-link" href="/exhibitthree"
          >Twisted Into Every Part Of Me</a
        >
        <a class="nav-link" href="/exhibitfour">Death By A Thousand Cuts</a>
        <a class="nav-link" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
