/* THEMES */

:root {
  --main-dark: #4b56d2;
  --main-mid: #82c3ec;
  --main-light: #f1f6f5;
  --shadow: #888;
}

/*  */

body {
  font-family: "Montserrat";
  letter-spacing: 0.05rem;
  /* background-color: var(--main-mid); */
  background-color: var(--main-light);
}

h1 {
  margin-top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--main-dark);
}

h2,
h3,
.feature-icon {
  margin: 0 0.5rem 0;
  color: var(--main-dark);
}

p {
  text-align: justify;
  margin: 0 0.5rem 0;
}

img {
  margin: 0 2rem 2rem;
  border-radius: 5px;
  max-width: 300px;
  max-height: 300px;
}

audio {
  width: 90%;
  margin: auto 5%;
}

input,
textarea {
  width: 90%;
  margin-bottom: 2rem;
  border-color: var(--main-dark);
  border-radius: 5px;
  border-width: 1px;
  margin-left: 5%;
}

form h3 {
  margin-left: 5%;
}

label {
  display: none;
}

.submit {
  color: white;
  background-color: var(--main-dark);
  height: 3rem;
}

footer {
  margin-top: 20rem;
}

.navbar {
  color: var(--main-light);
  background-color: var(--main-dark);
}

#intro {
  color: white;
  background-image: url("../images/AllPieces1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  text-shadow: 1px 1px 5px black;
  margin-top: 6rem;
  padding-bottom: 0.4rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 2px var(--shadow);
}

#intro h2 {
  color: white;
  text-align: right;
}

.intro-h-t {
  flex-direction: column;
}

.landing-title {
  padding-top: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.landing-img {
  color: white;
  margin: 2rem auto 2rem;
}

.landing-description {
  margin-bottom: 1rem;
}

.viewing-title {
  margin-top: 3rem;
}

.flex-container {
  display: flex;
}

.feature-icon {
  background-color: var(--main-dark);
  color: white;
}

.background1 {
  background-color: var(--main-dark);
  border-radius: 5px;
  color: white;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 4px var(--shadow);
}

.background1 h1 {
  color: white;
  padding-top: 2rem;
}

.background2 {
  color: white;
  text-shadow: 1px 1px 5px black;
  background-image: url("../images/AllPieces1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 4px var(--shadow);
}

.background2 h1 {
  color: white;
  padding-top: 2rem;
}

.dark-container {
  background-color: rgba(0, 0, 0, 0.35);
}

.background3 {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 4px var(--shadow);
}

.background3 h1 {
  padding-top: 2rem;
}

.exhibit-img {
  color: white;
  /* margin-top: 2rem; */
  margin: 2rem auto 2rem;
}

.exhibit-text-box,
.form-box {
  border-radius: 5px;
  background-color: white;
  padding: 2rem 0 2rem;
  box-shadow: 2px 2px 4px var(--shadow);
}

.form-box {
  text-align: left;
}

.exhibit-audio {
  margin-bottom: 0.4rem;
}

.landing-audio {
  margin-bottom: 1rem;
}

.guide-audio {
  margin: 1rem 0;
}

.audio-positioner {
  flex-direction: column;
  margin-top: 2rem;
}

.feature {
  height: 270px;
}

.guide-text {
  height: 120px;
}

.speech-player {
  padding-top: 5px;
  width: 90%;
  font-size: 90%;
  color: var(--main-dark);
  background-color: var(--main-light);
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--shadow);
  text-shadow: none;
}

.tts {
  padding-top: 3px;
}

.player-btn {
  color: var(--main-dark);
  background-color: var(--main-light);
  border-style: none;
  border-radius: 5px;
}

.player-btn:active {
  color: var(--main-light);
  background-color: var(--main-dark);
  border: var(--main-light);
  border-width: 10px;
  box-shadow: 1px 1px 2px var(--shadow);
}

.ruler {
  width: 70%;
  margin-left: 15%;
  color: var(--main-mid);
}

.footer-text {
  text-align: center;
  color: grey;
  font-size: 0.5rem;
  /* line-height: 0.1rem; */
}

#guide {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--shadow);
}

/* media queries */

@media (min-width: 770px) {
  .guide-audio .tts {
    display: none;
  }
}

@media (min-width: 1201px) {
  .landing-img {
    margin: 2rem 1rem 2rem;
  }

  .exhibit-img {
    margin: 2rem 1rem 2rem;
  }
}

/* below was 770px */
@media (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
  }

  .audio-positioner {
    flex-direction: column-reverse;
  }
}

@media (max-width: 370px) {
  img {
    max-width: 230px;
    max-height: 230px;
  }

  .tts {
    display: none;
  }

  .player-btn {
    float: end;
  }
}
