/* Temporary Style */

/* body {
  background-color: #79ac78;
  color: white;
  font-family: "Montserrat";
}

h1 {
  text-align: center;
  margin-top: 6rem;
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
} */

/* THEMES */

:root {
  --main-red: #ff0063;
  --main-teal-mid: #66bfbf;
  --main-light: #eaf6f6;
}

/*  */

body {
  font-family: "Montserrat";
  letter-spacing: 0.05rem;
  background-color: var(--main-teal-mid);
}

h1 {
  margin-top: 6rem;
  color: var(--main-red);
}

h2,
h3,
.feature-icon {
  margin: 0 0.5rem 0;
  color: var(--main-red);
}

p {
  text-align: justify;
  margin: 0 0.5rem 0;
}

img {
  margin: 0 2rem 2rem;
}

audio {
  width: 90%;
  margin: auto 5%;
}

footer {
  margin-top: 20rem;
}

.navbar {
  color: var(--main-light);
  background-color: var(--main-red);
}

#intro {
  color: white;
  background-image: url("https://picsum.photos/id/63/2000");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  text-shadow: 1px 1px 5px black;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.landing-title {
  padding-top: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px darkslategray;
}

.landing-img {
  color: white;
  margin-top: 2rem;
}

.viewing-title {
  margin-top: 3rem;
}

.flex-container {
  display: flex;
}

.feature-icon {
  background-color: var(--main-red);
  color: white;
}

.background1 {
  background-color: var(--main-red);
  color: white;
  padding-bottom: 1rem;
}

.background1 h1 {
  color: white;
  padding-top: 2rem;
}

.background2 {
  color: white;
  text-shadow: 1px 1px 5px black;
  background-image: url("https://picsum.photos/id/63/2000");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding-bottom: 1rem;
}

.background2 h1 {
  color: white;
  padding-top: 2rem;
}

.dark-container {
  background-color: rgba(0, 0, 0, 0.35);
}

.background3 {
  background-color: var(--main-light);
  padding-bottom: 1rem;
}

.background3 h1 {
  padding-top: 2rem;
}

.exhibit-img {
  color: white;
  margin-top: 2rem;
}

.exhibit-audio {
  margin-bottom: 0.4rem;
}

.landing-audio {
  bottom: 0.4rem;
}

.audio-positioner {
  flex-direction: column;
  margin-top: 2rem;
}

.speech-player {
  padding-top: 5px;
  width: 90%;
  font-size: 90%;
  color: var(--main-red);
  background-color: var(--main-light);
  border-radius: 20px;
  box-shadow: 1px 1px 2px darkslategray;
  text-shadow: none;
}

.tts {
  padding-top: 3px;
}

.player-btn {
  color: var(--main-red);
  background-color: var(--main-light);
  border-style: none;
  border-radius: 20px;
}

.footer-text {
  text-align: center;
  color: grey;
  font-size: 0.5rem;
  /* line-height: 0.1rem; */
}

#guide {
  background-color: var(--main-light);
}

/* media queries */

@media (max-width: 770px) {
  .flex-container {
    flex-direction: column;
  }

  .audio-positioner {
    flex-direction: column-reverse;
  }
}

@media (max-width: 370px) {
  .tts {
    display: none;
  }

  .player-btn {
    float: end;
  }
}
